ul{
      background-color: rgba(255,255,255,0);
      list-style: none;
      text-align: center;
      color: white;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      min-width: 149px;
}

.cardblur{
      filter: blur(6px);
      pointer-events: none;
}

button{
      margin-bottom: 10px;
}

.list{
      height: 72vh;
      overflow: auto;
      margin-bottom: 20px;
      margin-left: 20vh;
      margin-right: 25vh;
}

.listelements{
      margin-top: 30px;
}

.menulist{
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3), 0 0 6px gray;
      height: 50vh;
      width: 30vh;
      border-radius: 15px;
}

.menulist img{
      width: 3vh;
      height: 3vh;
}

.menubtn{
      pointer-events: fill;
      cursor: pointer;
      width: 20vh;
      height: 4vh;
      margin-left: 5vh;
      font-weight: bold;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 3px lightgray;
      border-radius: 15px;
      padding-left: 2vh;
      padding-top: 0.5vh;
}

.menubtn:hover{
      background-color: lightgray;
}

