.modalbox{
      position: absolute;
      top: 45%;
      left: 50%;
      width: 1200px;
      height: 800px;
      transform: translate(-50%, -50%);
      z-index: 2;
      border-radius: 50px;
      box-shadow: inset 0px 0px 5px rgba(0,0,0,0.4), 0 0 16px rgba(0,0,0,0.6);
}

.table{
      height: 200px;
}

.priceinput{
      border: 0px;
      pointer-events: none;
      width: 80px;
}